.Contact {
  color: white;
  position: absolute;
  width: 97%;
  height: 77%;
  left: 1rem;
  top: 8rem;
  background: #343434;
  border-radius: 1rem;
  z-index: -1;
}

.contact-mailname {
  position: absolute;
  width: 4rem;
  left: 11rem;
  top: 9.5rem;
  font-family: "IM FELL Great Primer SC";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  color: #ffffff;
}

.contact-mail {
  position: absolute;
  width: 10rem;
  left: 11rem;
  top: 11rem;
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
}

.contact-mailicon {
  position: absolute;
  width: 3rem;
  height: 4rem;
  left: 6rem;
  top: 9rem;
  font-size: 1rem;
  color: #fdc562;
}

.contact-linkedin {
  position: absolute;
  width: 7rem;
  left: 25rem;
  top: 16rem;
  font-family: "IM FELL Great Primer SC";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  color: #ffffff;
}

.contact-linkedinicon {
  position: absolute;
  width: 3rem;
  height: 4rem;
  left: 20rem;
  top: 15rem;
  font-size: 1rem;
  color: #fdc562;
}

.contact-loc {
  position: absolute;
  width: 4rem;
  left: 40rem;
  top: 9.5rem;
  font-family: "IM FELL Great Primer SC";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  color: #ffffff;
}

.contact-locname {
  position: absolute;
  width: 10rem;
  left: 40rem;
  top: 11.5rem;
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
}

.contact-locicon {
  position: absolute;
  width: 3rem;
  height: 4rem;
  left: 35rem;
  top: 9rem;
  font-size: 1rem;
  color: #fdc562;
}

.contact-logo {
  display: none;
}

.contact-details {
  position: absolute;
  left: 13.5rem;
  top: -3rem;
}

.line-7 {
  position: absolute;
  top: 19rem;
  width: 21%;
  left: 32rem;
  border: 2px solid #fdc562;
  border-radius: 1.5rem;
}

.linkedin-icon {
  color: #0a78b5;
  font-size: 2rem;
  position: absolute;
  top: 23rem;
  left: 38.5rem;
}

.insta-icon {
  color: #f500c6;
  font-size: 2rem;
  position: absolute;
  top: 23rem;
  left: 41.5rem;
}

/* mobile version */

@media only screen and (max-width: 980px) {
  .Contact {
    width: 90%;
    height: 88%;
    left: 2.5rem;
    top: 15rem;
  }
  .contact-mailname {
    font-size: 3rem;
    top: 10rem;
    left: 18rem;
  }

  .contact-mail {
    top: 13.5rem;
    font-size: 2rem;
    left: 18rem;
  }

  .contact-mailicon {
    top: 8rem;
    width: 9rem;
    height: 10rem;
  }

  .contact-linkedin {
    font-size: 3rem;
    width: 13rem;
    top: 27rem;
    left: 18rem;
  }

  .contact-linkedinicon {
    top: 24rem;
    width: 9rem;
    height: 10rem;
    left: 6.5rem;
  }

  .contact-loc {
    font-size: 3rem;
    left: 18rem;
    top: 42rem;
  }

  .contact-locname {
    font-size: 2rem;
    left: 18rem;
    width: 15rem;
    top: 46rem;
  }

  .contact-locicon {
    top: 40rem;
    width: 9rem;
    height: 10rem;
    left: 6.5rem;
  }

  .contact-logo {
    display: block;
    position: absolute;
    width: 25rem;
    left: 1rem;
    top: -13.5rem;
    font-family: "IM FELL Great Primer SC";
    font-style: normal;
    font-weight: 400;
    font-size: 5rem;
    color: #fdc562;
  }
  .contact-details {
    left: 0;
    top: 0;
  }
  .line-7 {
    top: 60rem;
    left: 13.5rem;
    width: 51%;
    border: 5px solid #fdc562;
  }

  .linkedin-icon {
    top: 70rem;
    font-size: 6rem;
    left: 20rem;
  }

  .insta-icon {
    top: 70rem;
    font-size: 6.5rem;
    left: 29rem;
  }
}
